In [36]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

<b>There are 3 datasets - UNT, Beetle and SciEntsBank for ASAG.</b>  
- UNT is available in csv as 1 file
- Beetle has 4 files in parquet
- SciEntsBank has 4 files in parquet

# Beetle

- Reference
- train
- test unseen answers
- test unseen questions

### Train Dataset

In [37]:
train_beetle = pd.read_parquet("Data/Beetle/data/train-00001.parquet")
train_beetle.to_csv("csv/beetle/train_beetle.csv", index=False)

In [38]:
train_beetle.head()

,id,question,reference_answer,student_answer,label
0,FF.Q1.SBJ10.L1.SA207,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because terminal one and the positive terminal...,1
1,FF.Q1.SBJ10.L1.SA208,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because terminal one is connected to the posit...,1
2,FF.Q1.SBJ10.L1.SA209,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because terminal one and the positive battery ...,1
3,FF.Q1.SBJ10.L1.SA210,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because there is a gap between terminal one an...,0
4,FF.Q1.SBJ11.L1.SA213,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,termianl 1 is not connected to the positive ba...,0

In [39]:
train_beetle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3941 entries, 0 to 3940
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3941 non-null   object
 1   question          3941 non-null   object
 2   reference_answer  3941 non-null   object
 3   student_answer    3941 non-null   object
 4   label             3941 non-null   int64
dtypes: int64(1), object(4)
memory usage: 154.1+ KB

In [40]:
print(train_beetle.isnull().sum())
train_beetle.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

### Unseen Answers Test Dataset

In [41]:
test_ua = pd.read_parquet("Data/Beetle/data/test-ua-00001.parquet")
test_ua.to_csv("csv/beetle/test_ua.csv", index=False)

In [42]:
test_ua.head()

,id,question,reference_answer,student_answer,label
0,FF.Q1.SBJ12.L1.SA183,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,The positive battery terminal is separated by ...,0
1,FF.Q1.SBJ26.L1.SA224,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,terminal one was positive,1
2,FF.Q1.SBJ26.L1.SA225,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,terminal 1 is positive,1
3,FF.Q1.SBJ27.L1.SA205,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,i have absolutely no idea,4
4,FF.Q1.SBJ35.L1.SA207,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,the terminal is separated from the positive ba...,0

In [43]:
test_ua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                439 non-null    object
 1   question          439 non-null    object
 2   reference_answer  439 non-null    object
 3   student_answer    439 non-null    object
 4   label             439 non-null    int64
dtypes: int64(1), object(4)
memory usage: 17.3+ KB

In [44]:
print(test_ua.isnull().sum())
test_ua.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

### Unseen Questions Test Dataset

In [45]:
test_uq = pd.read_parquet("Data/Beetle/data/test-uq-00001.parquet")
test_uq.to_csv("csv/beetle/test_uq.csv", index=False)

In [46]:
test_uq.head()

,id,question,reference_answer,student_answer,label
0,FF.Q16.SBJ10.L1.SA186,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,it is the difference in voltage between the po...,0
1,FF.Q16.SBJ10.L1.SA187,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,the difference between positive and negative,2
2,FF.Q16.SBJ10.L1.SA188,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,the difference in voltage between the two term...,0
3,FF.Q16.SBJ10.L1.SA189,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,one is positive and one is negative,2
4,FF.Q16.SBJ11.L1.SA194,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,0,1

In [47]:
test_uq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                819 non-null    object
 1   question          819 non-null    object
 2   reference_answer  819 non-null    object
 3   student_answer    819 non-null    object
 4   label             819 non-null    int64
dtypes: int64(1), object(4)
memory usage: 32.1+ KB

In [48]:
print(test_uq.isnull().sum())
test_uq.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

<b>Reference dataset is not needed for this project</b>

# SciEntsBank

### Train Dataset

In [49]:
train_sc = pd.read_parquet("Data/SciEntsBank/data/train-00001.parquet")
train_sc.to_csv("csv/SciEntsBank/train_sc.csv", index=False)

In [50]:
train_sc.head()

,id,question,reference_answer,student_answer,label
0,EM.45b.110.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",By letting it sit in a dish for a day.,3
1,EM.45b.113.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",Let the water evaporate and the salt is left b...,0
2,EM.45b.114.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",The water evaporated and left salt crystals.,0
3,EM.45b.261.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",I saw a pinkish grayish color that was blockin...,3
4,EM.45b.383.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",You have to slowly tip the vial for only the w...,3

In [51]:
train_sc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4969 entries, 0 to 4968
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                4969 non-null   object
 1   question          4969 non-null   object
 2   reference_answer  4969 non-null   object
 3   student_answer    4969 non-null   object
 4   label             4969 non-null   int64
dtypes: int64(1), object(4)
memory usage: 194.2+ KB

In [52]:
print(train_sc.isnull().sum())
train_sc.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

### Test Unseen Answers Dataset

In [53]:
test_sc_ua = pd.read_parquet("Data/SciEntsBank/data/test-ua-00001.parquet")
test_sc_ua.to_csv("csv/SciEntsBank/test_sc_ua.csv", index=False)

In [54]:
test_sc_ua.head()

,id,question,reference_answer,student_answer,label
0,EM.45b.299.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",We evaporated the water.,0
1,EM.45b.387.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",We poured just the water into another thing an...,0
2,EM.45b.452.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",We kept the salt in the vial and put the water...,3
3,EM.45b.533.1,You used several methods to separate and ident...,"The water was evaporated, leaving the salt.",Get all the water out.,2
4,EM.45c.340.1,You used several methods to separate and ident...,The crystals were square with Xs on the surface.,Well because we broke them apart.,3

In [55]:
test_sc_ua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                540 non-null    object
 1   question          540 non-null    object
 2   reference_answer  540 non-null    object
 3   student_answer    540 non-null    object
 4   label             540 non-null    int64
dtypes: int64(1), object(4)
memory usage: 21.2+ KB

In [56]:
print(test_sc_ua.isnull().sum())
test_sc_ua.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

### Test Unseen Dataset

In [57]:
test_sc_ud = pd.read_parquet("Data/SciEntsBank/data/test-ud-00001.parquet")
test_sc_ud.to_csv("csv/SciEntsBank/test_sc_ud.csv", index=False)

In [58]:
test_sc_ud.head()

,id,question,reference_answer,student_answer,label
0,EV.12b.102.1,Alice planted one radish seed in each of 5 sep...,10 milliliters to 20 milliliters. The radishes...,"0 to 25 milliliters, 0 to 25 milliliters becau...",1
1,EV.12b.103.1,Alice planted one radish seed in each of 5 sep...,10 milliliters to 20 milliliters. The radishes...,"10 to 20 milliliters of water. Pot 2, 3, and 4...",0
2,EV.12b.105.1,Alice planted one radish seed in each of 5 sep...,10 milliliters to 20 milliliters. The radishes...,"10 to 20 milliliters water, I looked at which ...",0
3,EV.12b.109.1,Alice planted one radish seed in each of 5 sep...,10 milliliters to 20 milliliters. The radishes...,"10 to 20 milliliters of water, none grew in on...",0
4,EV.12b.113.1,Alice planted one radish seed in each of 5 sep...,10 milliliters to 20 milliliters. The radishes...,"10 to 20 milliliters, Well in pot one nothing ...",0

In [59]:
test_sc_ud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4562 entries, 0 to 4561
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                4562 non-null   object
 1   question          4562 non-null   object
 2   reference_answer  4562 non-null   object
 3   student_answer    4562 non-null   object
 4   label             4562 non-null   int64
dtypes: int64(1), object(4)
memory usage: 178.3+ KB

In [60]:
print(test_sc_ud.isnull().sum())
test_sc_ud.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

### Test Unseen Questions Dataset

In [61]:
test_sc_uq = pd.read_parquet("Data/SciEntsBank/data/test-uq-00001.parquet")
test_sc_uq.to_csv("csv/SciEntsBank/test_sc_uq.csv", index=False)

In [62]:
test_sc_uq.head()

,id,question,reference_answer,student_answer,label
0,EM.33b.384.1,You used 3 scratch tools in class to test mine...,"A paperclip is harder than a penny, so if a pe...",I know the paperclip would scratch it because ...,0
1,EM.33b.397.1,You used 3 scratch tools in class to test mine...,"A paperclip is harder than a penny, so if a pe...",I knew that because the paperclip is harder th...,0
2,EM.33b.402.1,You used 3 scratch tools in class to test mine...,"A paperclip is harder than a penny, so if a pe...",I know that the paperclip would scratch the mi...,0
3,EM.33b.427.1,You used 3 scratch tools in class to test mine...,"A paperclip is harder than a penny, so if a pe...",Because the paperclip is an easier item to scr...,3
4,EM.33b.429.1,You used 3 scratch tools in class to test mine...,"A paperclip is harder than a penny, so if a pe...",I know that a paperclip will scratch it becaus...,0

In [63]:
test_sc_uq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                733 non-null    object
 1   question          733 non-null    object
 2   reference_answer  733 non-null    object
 3   student_answer    733 non-null    object
 4   label             733 non-null    int64
dtypes: int64(1), object(4)
memory usage: 28.8+ KB

In [64]:
print(test_sc_uq.isnull().sum())
test_sc_uq.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0