In [15]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

<b>There are 3 datasets - UNT, Beetle and SciEntsBank for ASAG.</b>  
- UNT is available in csv as 1 file
- Beetle has 4 files in parquet
- SciEntsBank has 4 files in parquet

# Beetle

- Reference
- train
- test unseen answers
- test unseen questions

### Train Dataset

In [16]:
train_beetle = pd.read_parquet("Data/Beetle/data/train-00001.parquet")
train_beetle.to_csv("csv/beetle/train_beetle.csv", index=False)

In [17]:
train_beetle.head()

,id,question,reference_answer,student_answer,label
0,FF.Q1.SBJ10.L1.SA207,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because terminal one and the positive terminal...,1
1,FF.Q1.SBJ10.L1.SA208,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because terminal one is connected to the posit...,1
2,FF.Q1.SBJ10.L1.SA209,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because terminal one and the positive battery ...,1
3,FF.Q1.SBJ10.L1.SA210,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,because there is a gap between terminal one an...,0
4,FF.Q1.SBJ11.L1.SA213,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,termianl 1 is not connected to the positive ba...,0

In [18]:
train_beetle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3941 entries, 0 to 3940
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3941 non-null   object
 1   question          3941 non-null   object
 2   reference_answer  3941 non-null   object
 3   student_answer    3941 non-null   object
 4   label             3941 non-null   int64
dtypes: int64(1), object(4)
memory usage: 154.1+ KB

In [19]:
print(train_beetle.isnull().sum())
train_beetle.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

### Unseen Answers Test Dataset

In [20]:
test_ua = pd.read_parquet("Data/Beetle/data/test-ua-00001.parquet")
test_ua.to_csv("csv/beetle/test_ua.csv", index=False)

In [21]:
test_ua.head()

,id,question,reference_answer,student_answer,label
0,FF.Q1.SBJ12.L1.SA183,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,The positive battery terminal is separated by ...,0
1,FF.Q1.SBJ26.L1.SA224,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,terminal one was positive,1
2,FF.Q1.SBJ26.L1.SA225,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,terminal 1 is positive,1
3,FF.Q1.SBJ27.L1.SA205,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,i have absolutely no idea,4
4,FF.Q1.SBJ35.L1.SA207,Explain why you got a voltage reading of 1.5 f...,Terminal 1 and the positive terminal are separ...,the terminal is separated from the positive ba...,0

In [22]:
test_ua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                439 non-null    object
 1   question          439 non-null    object
 2   reference_answer  439 non-null    object
 3   student_answer    439 non-null    object
 4   label             439 non-null    int64
dtypes: int64(1), object(4)
memory usage: 17.3+ KB

In [23]:
print(test_ua.isnull().sum())
test_ua.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

### Unseen Questions Test Dataset

In [24]:
test_uq = pd.read_parquet("Data/Beetle/data/test-uq-00001.parquet")
test_uq.to_csv("csv/beetle/test_uq.csv", index=False)

In [25]:
test_uq.head()

,id,question,reference_answer,student_answer,label
0,FF.Q16.SBJ10.L1.SA186,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,it is the difference in voltage between the po...,0
1,FF.Q16.SBJ10.L1.SA187,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,the difference between positive and negative,2
2,FF.Q16.SBJ10.L1.SA188,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,the difference in voltage between the two term...,0
3,FF.Q16.SBJ10.L1.SA189,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,one is positive and one is negative,2
4,FF.Q16.SBJ11.L1.SA194,What is the relationship between the voltage r...,Voltage is the difference in electrical states...,0,1

In [26]:
test_uq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                819 non-null    object
 1   question          819 non-null    object
 2   reference_answer  819 non-null    object
 3   student_answer    819 non-null    object
 4   label             819 non-null    int64
dtypes: int64(1), object(4)
memory usage: 32.1+ KB

In [27]:
print(test_uq.isnull().sum())
test_uq.duplicated().sum()

id                  0
question            0
reference_answer    0
student_answer      0
label               0
dtype: int64

0

<b>Reference dataset is not needed for this project</b>

# SciEntsBank